language: haskell

env:
  matrix:
    - HPVER=2012.4.0.0
    - HPVER=2013.2.0.0
    - GHCVER=7.4.2
    - GHCVER=7.6.3
    - GHCVER=head
  global:
    - CABALVER=1.18
    - UBUNTU_PKGS="libgtk-3-dev libcairo2-dev"
    - EXTRA_DEPS_PRE="gtk2hs-buildtools"
    - EXTRA_DEPS=""
    - CABAL_FLAGS="-fsvg -fps -fcairo -fgtk"
    - SKIP_HADDOCK=1

matrix:
  allow_failures:
    - env: GHCVER=head

before_install:
  - git clone http://github.com/diagrams/diagrams-travis travis
  - source travis/scripts/set_env.sh
  - ./travis/scripts/before_install.sh

install: ./travis/scripts/install.sh

script: ./travis/scripts/script.sh

notifications:
  email: false
  irc:
    channels:
      - irc.freenode.org#diagrams
    skip_join: true
    template:
      - "\x0313diagrams\x03/\x0306%{branch}\x03 \x0314%{commit}\x03 %{build_url} %{message}"
